.addToCartLabel {
    font-size: 20px;
    color: black;
    width:160px;
    height: 40px;
    border-radius: 20px;
    margin: 20px 10px 0 0;
    cursor: pointer;
}

.quantityInDetail{
    display: flex;
    margin-top:20px;
}

#cartForm{
    margin-top:10px;
}
#qtyLabelInDetail{
    margin-right:5px;
}

#quantity{
    width: 40px;
    height:30px;
    margin-top:20px;

}

.availableQty{
    display: flex;
    margin:18px 18px 18px 0;
}
#availableQty{
    color:red;
    /* margin:10px; */
}