.cartList{
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
}
.cartImage{
    width:90px;
    height:90px;
    /* margin-right:10px; */
}

.cartDetailContainer{
    display: flex;
    justify-content:space-between;
    border-bottom: 1px solid var(--grey-light-color);
}

.cartDetailInfoinCart{
    display: flex;
    flex-direction: column;
    /* margin-right:20px; */
    margin-top:10px;
}
.cartInside{
    display: flex;
    /* justify-content: space-between; */
}

.overflow-ellipsis{
    width: 90px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}

/* .titleInCart{
    width: 150px;
} */

/* .cartInside p{
    margin-right: 10px;
} */

.cartTotalInCart {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--grey-light-color);
    padding:15px;
    background-color: rgb(164, 159, 159);
}

.checkOutAndViewCart {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checkOutInCart, .viewCartInCart{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    margin: 10px;
}

/* .checkOut{
    display: flex;
    justify-items: center
} */
.qtyAndDelete{
    display: flex;
    justify-content: space-between;
}

.cartNum{
    display: flex;
    width:80px;
    justify-content: flex-end;
    /* margin-left:30px; */
}

.cartPriceLabel{
    margin-left: 15px;
}

#cartNum{
    position:relative;
    display: flex;
    right:22px;
    top:5px;
    border-radius: 20px;
    border: 1px solid black;
    height:20px;
    width:20px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background-color: rgb(192, 8, 8);
    color:white;
}

.cartDeleteCartView{
    border:none;

}

.dropbtn{
    background-color: white;
    cursor: pointer;
}