.categorySingle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
    height:50px;
    align-items: center;
}

.categoryBarContainer{
    background-color: rgb(222, 222, 215);
    /* min-width:1300px; */
}

.categoryBarName{
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    color: black;
    transition: all 0.2s ease-out;
    height:30px;
    width:100px;
    align-items: center;
}

.categoryAll:hover,.categoryBarName:hover{
    border: 1px solid gray;
    height:40px;
    width:100px;
    border-radius: 5px;
    align-items: center;
}
.categoryAll:hover{
    height:40px;
    width:100px;
    border-radius: 5px;
    align-items: center;
}
.categoryAll{
    display: flex;
    align-items: center;
    justify-content: center;
    height:40px;
    width:100px;
    transition: all 0.2s ease-out;
    cursor: pointer;
    word-spacing: 100px;
    border-radius: 5px;
}