.navMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 20px 0px 20px;
    height:67px;
}
.navMenu_login {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav_profile{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav_login, .nav_singup {
    padding-right: 20px;
}

.logoHome{
    width:40px;
    height: 40px;
}

.searchBarInNav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:300px;
}

.search{
    margin-left:350px;
    height: 67px;

}

.searchBarDisplay{
    border:1px solid black;
    align-items: center;
}

.navMenu_home {
    display: flex;
    justify-content: center;
    align-items: center;
}