.navMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 20px 20px 20px;
}
.navMenu_login {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.nav_profile{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav_login, .nav_singup {
    padding-right: 20px;
}

.logoHome{
    width:40px;
    height: 40px;
}

.nav_login div:hover {background-color: #ddd};