.loginName, .sellNewItem, .myBae {
padding-right:30px;
}

.navInfo{
    font-size: var(--font-large);
    display: flex;
    justify-content: center;
}

.navLeft {
    display: flex;
    align-items: center;
}