/* TODO Add site wide styles */
:root {
    --grey-light-color: #e0e0e0;

    --side-padding: 12px;
    
    --font-large:18px;
    --font-medium:14px;
    --font-small: 12px;
    --font-micro: 10px;
    --button-color: rgb(223, 64, 64);
}

* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif ;
}

li {
    list-style-type: none;
    text-decoration: none;
}

a{
    text-decoration: none;
}

ul {
    text-decoration: none;
}
