.comment_container{
    /* border: 1px solid var(--grey-light-color); */
}
#commentTitle{
    font-size: 20px;
    font-weight: bold;
}
#reviews{
    padding:20px;
    display: flex;
}

#reviewer{
    padding-right: 40px;
}

.commentDelete_Edit{
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.commentDeleteBt{
    border:none;
    padding-right:10px;
}

#reviews{
    display: flex;
    flex-direction: column;
}
.commentDetails{
    display: flex;
    padding:10px;

}

.commentFormHandle{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}
.wordCount, .commentFormBts{
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}
.commentFormBts{
    margin-bottom: 20px;
}

#commentEditCancel{
    position: relative;
    right: -570px;
    top: -20px;
    width: 50px;
    border-radius: 3px;
    background-color: antiquewhite
}

.reviewBody{
    width: 620px;
    overflow-wrap: break-word;
}

.leaveComment{
    cursor: pointer;
}