.commentSign{
    padding:50px 20px;
    font-size: 30px;
}

.leaveComment{
    font-size: 20px;
    /* border-top: 1px solid var(--grey-light-color); */
    margin-top:20px;
}
#reviewFormBox{
    display: flex;
    justify-content: center;
}

#reviewTextInput{
    /* padding:0px 40px; */
    /* margin-left: 30px; */
    width:700px;
    height: 100px;
}

.errorDetail{
    color: red;
}

#reviewSubmit, #reviewCancel{
    border-radius: 3px;
    background-color: antiquewhite;
}

.commentLable{
    margin-left: 20px;
    font-weight: bold;
}