#edit-commentform-text{
    width:600px;
    height:100px;
}

.wordandUpdate{
    display: flex;
     justify-content: flex-end; 
    /* flex-direction: column;  */
}

#commentEdit{
    width:60px;
    margin-right:90px;
    background-color: rgb(247, 227, 202);
    border-radius: 3px;
}