.myMenudetail_Container{
    margin-left: 30px;
    min-width:1300px;
    display: flex;
    justify-content: center;
}
.myMenuBody{
    display: flex;
    flex-direction: row;
}
.myMenuBars{
    border-right: 1px solid var(--grey-light-color);
    margin-right: 10px 10px 0 10px;
    /* background-color: rgb(247, 247, 220); */
    min-height: 1100px;
}
.myMenubar{
    margin: 0 40px;
    font-size: 25px;
    font-weight: bold;
}

#myBae_title{
    margin-bottom: 30px;
}

.mymenuWishlist, .mymenu_sellinglist{
    padding: 10px 0;
    width: 120px;
}

.mymenuWishlist{
    margin-top:20px;
}

