.myMenudetail_Container{
    margin-left: 30px;
}
.myMenuBody{
    display: flex;
    flex-direction: row;
}
.myMenuBars{
    border-right: 1px solid var(--grey-light-color);
    margin-right: 10px 10px 0 10px;
}
.myMenubar{
    margin: 0 40px;
    font-size: 25px;
    font-weight: bold;
}

#myBae_title{
    margin-bottom: 30px;
}

.mymenu_wishlist{
    padding: 10px 0;
}