
.wishlistDetail_container{

}
.wishlistDetail{
    display: flex;
    flex-direction: column;
}
.wishdetailContainer{
    display: flex;
    border-bottom: 1px solid var(--grey-light-color);
    padding:10px;
}
.ordherHImage{
    width: 100px;
    height: 100%;
    border-radius: 10px;
    margin-left: 40px;
    padding:10px;
    border: 1px solid var(--grey-light-color);
    border-radius: 8px;
}

.menu-details{
    margin:15px 0 0 20px;
    /* padding: 10px 0; */
    font-size: 30px;
}

.wishTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size:25px;
}

#myBaeMenu{
    margin: 15px 0 50px 50px;
    font-size: 30px;
    font-weight: bold;
}


.myMenubar div:hover {background-color: #ddd};


.meMenuDetail{
    margin-top:20px;
}

.orderHistoryContainer{
    display: flex;
    height:90px;
    margin-bottom: 10px;
}

.orderHistoryTotalLabel{
    margin: 10px;
}

.orderHtotal{
    margin: 10px;
}

.orderHTotal{
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    padding:10px;
    border-bottom: 1px solid black;
}
.wishImage{
    width:150px;
    height: 150px;
    border: 1px solid var(--grey-light-color);
    border-radius: 10px;
}

.orderDate{
    /* margin: 50px 0 0 50px; */
    display: flex;
    height:60px;
}
.orderDateLabel{
    margin:20px 0 0 50px;
}

.orderDateData{
   display: flex;
   align-items: center;
}

.orderHImgName{
    min-width:700px;
    display: flex;
}
.orderHtableHead{
    display: flex;
    justify-content:space-between
}

.orderTotalLabel{
    padding-right:10px;
    display: flex;
    align-items: center;
}

.totalOrderHistoryPrice{
    display: flex;
    align-items: center;
}

.sellinglistDetail{
    margin-bottom: 10px;
}