.createItemForm{
    margin:50px;
    display: flex;
    justify-content: center;
    background-color: rgb(246, 243, 240);
    /* height: auto; */
    min-height:975px;
    width:1200px;
}
#formTitle{
font-size: 40px;
padding:20px;
border-bottom: 1px solid var(--grey-light-color);
margin-bottom: 20px;
}
#editLabel{
    margin: 20px 0 0 20px;

}

#itemtInput{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    min-width:700px;
    background-color: white;
    margin-bottom: 20px;
    /* border-bottom: 1px solid var(--grey-light-color); */
    border-radius: 10px;
}
#nameInput, #priceInput{
    font-size: 20px;
    /* min-width:700px; */
    background-color: white;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--grey-light-color);
    border-radius: 10px;
    height: 60px;
    display: flex;
    align-items: center;
}

#quantityInput{
    font-size: 20px;
    /* min-width:700px; */
    background-color: white;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--grey-light-color);
    border-radius: 10px;
    height: 60px;
    display: flex;
    align-items: center;
}

#quantityLabel{
    margin-left:20px;
}

#quantity{
    align-items: center;
}

#uploadImage{background-color: white;
    margin-bottom: 20px;
    height:50px;
    /* border-bottom: 1px solid var(--grey-light-color); */
    border-radius: 10px;
    display: flex;
    align-items: center;
}
#uploadBt{
    display: flex;
    align-items: center;
    margin: 0 5px 0 20px;
}

.selectCategory{
    background-color: white;
}



#name, #price, #imageUrl, #description {
    height: 40px;
    min-width: 700px;
    margin: 10px 20px 0 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--grey-light-color);
    overflow-wrap: break-word;
   
}

#description{
    min-width:750px;
}
#price {
    /* height:50px */
}
#imageUrl{
    height:60px
}
#description{
    min-height:150px;
    margin-bottom: 30px;
}

#imageUrl {
    margin-bottom: 30px;
}

.selectCategory{
    margin-bottom: 20px;
    height:70px;
    min-width:700px;
    border-radius: 10px;
    font-size: 20px;
}

#itemtBt, .mutipleUploadBt{
    height:40px;
    width: 60px;
    background-color: rgb(252, 239, 213);
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right:10px;
}

#errorMessages{
    color: red;
}

#selectCategory{
    margin: 30px;
}

#title{
    margin-top: 20px;
}

#categoryOption{
    height: 20px;
}
option {
    height: 30px;
}

#uploadBt{
    font-size: 18px;
}
    
#uploadBt::file-selector-button {
        font-weight: bold;
        padding: 0.5em;
        border: thin solid rgb(244, 233, 168);
        border-radius: 3px;
        margin-top: 0;
}

#editLabel{
    /* display: flex;
    justify-items: center;
    align-content: center;
    align-items: center;
    flex-direction: row; */
}
#quantityInList{
    height:30px;
}
#quantity{
    width:60px;
}