.itemDetail_all_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center;
    justify-items: center; */
    align-content: center;
    
}

.itemDetail{
    margin:50px 0;
}

.itemDetail_container{
    display: flex;
     flex-direction: column;
    align-items: center;
    justify-content: center;
    width:auto;
}

.itemImage_container{
    width: 600px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.itemImage_detail{
    width: 100%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
}

.about {
    border-top: 2px solid black;
    padding:30px 0;
    display: flex;
    justify-content: flex-end;
}
.about  p {
    padding:0 20px;
}

.itemDetail_all{
    display: flex;
    flex-direction: column;
    width: 1300px;
}
.itemDetail_info{
    padding:20px;
    border: 1px solid var(--grey-light-color);
    border-radius: 0 20px 20px 0;
    height: 700px;
    width:400px;
}

#itemName{
    font-size:30px;
    overflow-wrap: break-word;
}
#itemPrice{
    font-size:20px;
    margin-top:20px;
}

.itemEditBt{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.itemComment_container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    border: 1px solid var(--grey-light-color);
    border-radius: 10px;
    min-width:1000px;
}

.itemEditBt{
    padding:10px;
    margin-bottom: 20px;
}

#itemEditBt, #itemDeleteBt{
 padding:10px;
    margin-right: 10px;
    background-color: rgb(246, 230, 208);
    border-radius: 5px;
    width:70px;
    cursor: pointer;
} 

#itemDescription{
    margin-top:30px;
    width: 350px;
    overflow-wrap: break-word;
}
.itemDetail_right{
    width:400px
}

.heartSigns{
    font-size: 30px;
    position:relative;
    right:-220px;
    top:-680px;
}

#endTime{
    margin-top: 20px;
    padding-top:10px;
    border-top: 1px solid var(--grey-light-color);
}

.imgContainer{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.itemImage_container{
    display: flex;
    flex-direction: row;
}
.thumnailImg{
    width:110px;
    height: 140px;
    padding:10px;
}

.selectedImage{
    width: 400px;
    height: 300px;
}

.heartSign{
    font-size: 30px;
    position:relative;
    right:10px;
    top:-240px;
    color: rgb(212, 24, 24);
}

.blackHeart{
    font-size: 30px;
    position:relative;
    right:10px;
    top:-240px;
    color: red;
}