.wishlist-clicked{
    color: red;
}

#wishlistLabel{
    font-size: 20px;
    color: black;
    width:160px;
    height: 40px;
    border-radius: 20px;
    margin: 20px 10px 0 0;
    cursor: pointer;
}

/* .heartSign{
    font-size: 30px;
    position:relative;
    right:170px;
    top:-50px;
    color: rgb(212, 24, 24);
}

.blackHeart{
    font-size: 30px;
    position:relative;
    right:170px;
    top:-50px;
    color: red;
} */

#wishSimbol{
    display: flex;
    align-items: center;
}